@model IEnumerable<Question>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-3">
    <form>
        <h3 nane="question-title">Електронна пошта</h3>
        <input type="email" class="form-control mb-3" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <br>
        <h3 nane="question-title">Вкажіть своє прізвище та ім'я</h3>
        <input type="text" class="form-control mb-3" id="name" aria-describedby="nameHelp">
        <br>

    </form>
    <form name="question" class="question" id="question" action="javascript:check()">
        @{
            foreach (Question question in Model)
            {
                <h3 nane="question-title">@question.Title</h3>
                foreach (Answer answer in question.Answers)
                {
                    <input name="@question.Title" type="radio" value="@answer.IsRight.ToString()">
                    @answer.Title
                    <br>
                }
                <br>
            }

            <div>
                <input value="Відповісти" type="submit" class="btn btn-primary mt-3 mb-3">
            </div>
        }

    </form>
    <script>
        function check() {
            let email = document.getElementById('email').value;
            let name=document.getElementById('name').value;
            let answers = document.querySelectorAll("input[value=True]");
            let isTrue = 0;
            let radio = document.querySelectorAll("input[type=radio]");
            let count = 0;
            radio.forEach((e) => {
                if (e.checked) count++;
            });

            answers.forEach((e) => {
                if (e.checked) isTrue++;
            });

            if (count === radio.length / 4) {
                if(email==="")
                {
                    alert("Введіть Емейл");
                }
                else if(name===""){
                    alert("Введіть своє прізвище та ім'я");
                }else {
                    window.location = "/Result?result=" + isTrue + "&email=" + email;
                }
            } else alert("Дайте відповіді на питання");
        }
    </script>
</div>