@using System.Net
@using System.Net.Mail
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Question>

@{
    ViewData["Title"] = "Result";
}

<div class="container">

    @{
        SmtpClient smtpClient = new("smtp.mailgun.org")
        {
            Port = 25,
            Credentials = new NetworkCredential("postmaster@sandboxd3b7a69eb7ce4286acc1e4755ad87bfd.mailgun.org", "f4a5510ecb8a8e86247a36523fc0388f-48c092ba-295555aa"),
            EnableSsl = true,
        };

        MailMessage mailMessage = new(new MailAddress("astasovsky@gmail.com"), new MailAddress(ViewBag.email));
        mailMessage.Subject = "Результат проходження тесту";
        mailMessage.Body = "<h1>Кількість правильних відповідей: " + @ViewBag.result + "</h1>";
        mailMessage.IsBodyHtml = true;
        <h3>Кількість правильних відповідей: @ViewBag.result </h3>
        <p>Відправлено на @ViewBag.email</p>
        try
        {
            smtpClient.Send(mailMessage);
        }
        catch
        {
            // ignored
        }

    }

    <form method="get" action="/">
        <input value="Пройти ще раз" type="submit" class="btn btn-primary mt-3 mb-3">
    </form>
</div>